# Sets

In [1]:
#creating empty set
set1 = set()
set1

set()

In [29]:
#creating set with elements(it not allows duplicates)
set2 = {1, 2, 3, 4, 5, 1}
print(set2)
type(set2)

{1, 2, 3, 4, 5}

set

In [30]:
#adding elements to set
set2.add(15)
set2

{1, 2, 3, 4, 5, 15}

In [31]:
set3 = set2.copy()
set3

{1, 2, 3, 4, 5, 15}

In [32]:
set3.clear()
set3

set()

In [33]:
#removing specified element
set2.discard(15)
set2

{1, 2, 3, 4, 5}

In [34]:
#Returns a set containing the difference between two or more sets
set3 = {4, 5, 6, 7, 8}
print(set2.difference(set3), set3.difference(set2), sep = "\n")
print(set2-set3, set3-set2, sep="\n")

{1, 2, 3}
{8, 6, 7}
{1, 2, 3}
{8, 6, 7}

In [35]:
#Returns a set, that is the intersection of two or more sets
set2.intersection(set3), set2 & set3

({4, 5}, {4, 5})

In [36]:
#Returns whether two sets have a intersection or not
set2.isdisjoint(set3)

False

In [37]:
#Returns whether another set contains this set or not
set2.issubset({1, 2, 3})

False

In [38]:
{1, 2, 3}.issubset(set2)

True

In [15]:
#Returns whether this set contains another set or not
set2.issuperset({1, 2, 3})

True

In [16]:
#Return a set containing the union of sets
set2.union(set3)

{1, 2, 3, 4, 5, 6, 7, 8}

In [18]:
#Update the set with another set, or any other iterable
set2.update({23, 25, 26})
set2

{1, 2, 3, 4, 5, 23, 25, 26}

In [21]:
#Returns a set with the symmetric differences of two sets
set2.symmetric_difference(set3), set3.symmetric_difference(set2)

({1, 2, 3, 6, 7, 8, 23, 25, 26}, {1, 2, 3, 6, 7, 8, 23, 25, 26})

In [22]:
#Removes the items in this set that are also included in another, specified set
set2.difference_update(set3)

In [23]:
set2

{1, 2, 3, 23, 25, 26}

In [24]:
set2.intersection_update(set3)
set2

set()

In [39]:
#remove elements from set
set3.pop()

4

In [40]:
set3

{5, 6, 7, 8}

In [41]:
#creating with different datatypes
set4 = {"python", 1, 2, 3, 4, 'a'}
set4

{1, 2, 3, 4, 'a', 'python'}